doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="Alper Konuralp")
    title= title
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
    script(src="/javascripts/script.js")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    nav(class="navbar navbar-inverse", role="navigation")
      div(class="container")
        div(class="navbar-header")
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand", href="/") Express Demo
        div(id="navbar", class="collapse navbar-collapse")
          ul(class="nav navbar-nav")
            li(class="active")
              a(href="/") Home
            li
              a(href="/about") About us
            li
              a(href="/contact") Contact us

    div(id="body-content", class="container")
      block content
